<div class="jumbotron text-center">
  <h1>MEAN Authentication</h1>
  <p class="lead">Welcome to our custom MEAN authentication application built from scratch</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>
      Express Backend
    </h3>
    <p>
      lorem ipsum text is random text used for random text
    </p>
  </div>
  <div class="col-md-4">
    <h3>
      Angular 7 Frontend
    </h3>
    <p>
      lorem ipsum text is random text used for random text
    </p>
  </div>
  <div class="col-md-4">
    <h3>
      Mongo Database
    </h3>
    <p>
      lorem ipsum text is random text used for random text
    </p>
  </div>
</div>